// ページ全体
html {
    font-family: sans-serif;
    color: #666666;
}

html * {
    box-sizing: border-box;
}

body {
    margin: 0 0 0 0;
    background-color: #ffffef;
}

.wrapper {
    margin: 0 auto 0 auto;
    max-width: 1500px;
}

/*
// ヘッダー
*/

//nav
nav {
    /*ulとaタグを横並びにする */
    display: flex;
    justify-content: space-between;
    background-color: #ffc06e;

    /* 重なり順を指定*/
    z-index: 1;

    position: fixed; /* ヘッダーの固定 */
    width: 100%;
    max-width: 1500px;
    height: 50px;

    opacity: 0.7;
    a {
        margin: auto 0 auto 10px;
    }
    ul {
        list-style: none;
    }

    li {
        float: left;
        padding-right: 5px;
    }

    a:link,
    a:visited {
        color: #666666;
    }

    a:hover {
        color: #8ea084;
        border-bottom: 3px solid #d1eac4;
        text-decoration: none;
    }
}

//ヘッダー画像

.header__main {
    // 中央寄せ
    position: relative;
    text-align: center;
}

.main__image {
    width: 100%;
    max-width: 1500px;
    height: auto;
    box-shadow: 20px 20px 20px 20px white inset;
    background-color: #ffffef;
}

.header__main h1 {
    text-align: center;
    color: #191970;
    // 中央寄せstart
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 100%;
    // // 中央寄せend
    font-size: 70px;
}

.header__main h2 {
    // 中央寄せstart
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
    // 中央寄せend
    color: #191970;
}

/*
//メイン
*/
//about me
.main__about_me {
    margin: 80px 0;

    .main__about_me__inner {
        display: flex;
        align-items: center;
        margin: 10px 20px 10px 20px;
    }
    .parent__about_me {
        text-align: center;
        // padding-top: 10px;
        border-top: 3px dotted #3f5170;
    }
    h2 {
        display: inline-block;
        background: linear-gradient(transparent 60%, #fae438 60%);
        font-size: 40px;
    }
    img {
        margin: 0 100px;
    }
    p {
        margin: 0 30px 0 30px;
        font-size: 22px;
    }
}

//skills
.main__skills {
    margin: 40px 0 80px 0;
    .parent__skills {
        text-align: center;
        // margin-left: 10px;
        border-top: 3px dotted #3f5170;
        h2 {
            display: inline-block;
            background: linear-gradient(transparent 60%, #fae438 60%);
            font-size: 40px;
        }
    }
    .main__skill__list__lang {
        font-size: 20px;
        text-align: center;
        margin: 10px auto;

        h2 {
            padding: 5px 15px;
            margin: 0 0 10px 0;
            display: inline-block;

            box-shadow: 0px 0px 0px 10px #ffeddb;
            border: dashed 2px white;
            background: #ffeddb;
        }
    }
}

.main__skill__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .skill__item {
        display: flex;
        align-items: center;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32); //影
        // justify-content: space-between;
        //大きさ指定
        width: 300px;
        height: 150px;
        //囲み
        padding: 10px 10px;
        margin: 10px 20px;

        font-size: 20px;

        .skill__image {
            //skill__itemの中身を中央寄せ
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        .skill__body {
            text-align: left;
            display: inline-block;
        }
    }

    //各skill__itemの色指定
    .apex_lang {
        background: #d1ffff;
        border-left: solid 10px #a3ffff;
    }
    .visualforce_lang {
        background: #c6c6ff;
        border-left: solid 10px #a3a3ff;
    }
    .HTML5_lang {
        background: #ffccff;
        border-left: solid 10px #ffa3ff;
    }
    .css3_lang {
        background: #cce5ff;
        border-left: solid 10px #a3d1ff;
    }
    .Java_lang {
        background: #ffd1d1;
        border-left: solid 10px #ff9e9e;
    }
    .Javascript_lang {
        background: #ffffd6;
        border-left: solid 10px #ffffb2;
    }

    //各言語の画像
    img {
        width: 64px;
        height: 64px;
        margin: 0 10px 0 10px;
    }
    .skill__body p,
    h3 {
        margin: 3px 8px;
    }
}

//tools
//タイトル
.main__skill__list__tools {
    font-size: 20px;
    text-align: center;
    margin: 10px auto;

    h2 {
        padding: 5px 15px;
        margin: 20px 0 10px 0;
        display: inline-block;

        box-shadow: 0px 0px 0px 10px #ffeddb;
        border: dashed 2px white;
        background: #ffeddb;
    }
}

//各item
.main__tool__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .main__tool__item {
        display: flex;
        align-items: center;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32); //影
        // justify-content: space-between;
        //大きさ指定
        width: 300px;
        height: 150px;
        //囲み
        padding: 10px 10px;
        margin: 10px 20px;

        font-size: 20px;

        .main__tool__image {
            //skill__itemの中身を中央寄せ
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        .main__tool__body {
            text-align: left;
            display: inline-block;
        }
    }

    .visual_studio_code__tool {
        background: #d1ffe8;
        border-top: solid 10px #b2ffd8;
    }

    .GitHub__tool {
        background: #d6d6ff;
        border-top: solid 10px #c1c1ff;
    }

    //各toolの画像
    img {
        width: 64px;
        height: 64px;
        margin: 0 10px 0 10px;
    }
    .main__tool__body p,
    h3 {
        margin: 3px 8px;
    }
}

//workは別stylesheetにて記載

//contact
.contact {
    
    margin-bottom: 40px;
    text-align: center;
    .parent__contact {
        // text-align: center;
        // margin-left: 10px;
        border-top: 3px dotted #3f5170;
    }
    h2 {
        display: inline-block;
        background: linear-gradient(transparent 60%, #fae438 60%);
        font-size: 40px;
    }
    p {
        font-size: 20px;
    }
    .contact__inner__p {
        margin-top: 0;
    }
    a:link,
    a:visited {
        color: #666666;
    }

    a:hover {
        color: #8ea084;
        border-bottom: 3px solid #d1eac4;
        text-decoration: none;
    }
    
}

/*
//フッター
*/
.footer {
    background-color: #ffc06e;

    //ul要素を中央寄せ
    display: flex;
    justify-content: center;

    width: 100%;
    max-width: 1500px;
    height: 50px;

    opacity: 0.7;
    ul {
        list-style: none;
        padding-left: 0;

        li {
            display: inline-block;
            padding: 0 10px;
        }
        a:link,
        a:visited {
            color: #666666;
        }

        a:hover {
            color: #8ea084;
            border-bottom: 3px solid #d1eac4;
            text-decoration: none;
        }
    }
}
