// ページ全体
html {
    font-family: sans-serif;
    color: #666666;
}

html * {
    box-sizing: border-box;
}

body {
    margin: 0 0 0 0;
    background-color: #FFFFEF;
}

.wrapper {
    margin: 0 auto 0 auto;
    max-width: 1500px;
}



/*
// ヘッダー
*/

//nav
nav {
    /*ulとaタグを横並びにする */
    display: flex;
    justify-content: space-between;
    background-color: #ffc06e;

    /* 重なり順を指定*/
    z-index: 1;

    position: fixed; /* ヘッダーの固定 */
    width: 100%;
    max-width: 1500px;
    height: 50px;

    opacity: 0.7;
    a {
        margin: auto 0 auto 10px;
    }
}

ul {
    list-style: none;
}

li {
    float: left;
    padding-right: 5px;
}

//ヘッダー画像

.header__main {
    // 中央寄せ
    position: relative;
    text-align: center;
    
}

.main__image {
    width: 100%;
    max-width: 1500px;
    height: auto;
    box-shadow: 20px 20px 20px 20px white inset;
    background-color: #FFFFEF;
}


.header__main h1 {
    text-align: center;
    color: #191970;
    // 中央寄せstart
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 100%;
    // // 中央寄せend
    font-size: 70px;
}

.header__main h2 {
    // 中央寄せstart
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px 0 0 0 ;
    padding: 0;
    width: 100%;
    // 中央寄せend
    color: #191970;
}

/*
//メイン
*/
//about me
.main__about_me {
    margin: 80px 0;

    .main__about_me__inner {
        display: flex;
        align-items: center;
        margin:10px 20px 10px 20px;
    }
    .parent__about_me {
        text-align: center;
        // padding-top: 10px;
        border-top: 3px dotted #3f5170;
    }
    h2 {
        display: inline-block;
        background: linear-gradient(transparent 60%, #fae438 60%);
        font-size: 40px;
    }
    img {
        margin: 0 100px;
    }
    p {
        margin: 0 30px 0 30px;
        font-size: 22px;
    }
}

//skills
.main__skills {
    margin-top: 40px;
    .parent__skills {
        text-align: center;
        margin-left: 10px;
        border-top: 3px dotted #3f5170;
    }
    h2 {
        display: inline-block;
        background: linear-gradient(transparent 60%, #fae438 60%);
        font-size: 40px;
    }
}

.main__skill__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .skill__item {
        display: flex;
        align-items: center;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);//影
        // justify-content: space-between;
        //大きさ指定
        width: 300px;
        height: 150px;
        //囲み
        padding: 10px 10px;
        margin: 10px 20px;

        font-size: 20px;

        .skill__image{
            //skill__itemの中身を中央寄せ
            display: inline-block;
            padding: 0;
            margin:0;
        }

        .skill__body {
            text-align: left;
            display: inline-block;
        }
    }

    //各skill__itemの色指定
    .apex_lang {
        background: #a3ffff;
        border-left: solid 10px #00ffff;    
    }
    .visualforce_lang {
        background: #a3a3ff;
        border-left: solid 10px #962dff;    
    }
    .HTML5_lang {
        background: #ffa3ff;
        border-left: solid 10px #ff60ff;    
    }
    .css3_lang {
        background: #a3d1ff;
        border-left: solid 10px #198cff;    
    }
    .Java_lang {
        background: #ff9393;
        border-left: solid 10px #ff4747;    
    }
    .Javascript_lang {
        background: #ffffbc;
        border-left: solid 10px #ffff05;    
    }


    //各言語の画像
    img {
        width: 64px;
        height: 64px;
        margin: 0 10px 0 10px;
    }
    .skill__body p,h3 {
        margin: 3px 8px;
    }

    


}
