@charset "UTF-8";
html {
  font-family: sans-serif;
  color: #666666;
}

html * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 0 0 0;
  background-color: #ffffef;
}

.wrapper {
  margin: 0 auto 0 auto;
  max-width: 1500px;
}

/*
// ヘッダー
*/
nav {
  /*ulとaタグを横並びにする */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffc06e;
  /* 重なり順を指定*/
  z-index: 1;
  position: fixed;
  /* ヘッダーの固定 */
  width: 100%;
  max-width: 1500px;
  height: 50px;
  opacity: 0.7;
}

nav a {
  margin: auto 0 auto 10px;
}

nav ul {
  list-style: none;
}

nav li {
  float: left;
  padding-right: 5px;
}

nav a:link,
nav a:visited {
  color: #666666;
}

nav a:hover {
  color: #8ea084;
  border-bottom: 3px solid #d1eac4;
  text-decoration: none;
}

.header__main {
  position: relative;
  text-align: center;
}

.main__image {
  width: 100%;
  max-width: 1500px;
  height: auto;
  -webkit-box-shadow: 20px 20px 20px 20px white inset;
          box-shadow: 20px 20px 20px 20px white inset;
  background-color: #ffffef;
}

.header__main h1 {
  text-align: center;
  color: #191970;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 70px;
}

.header__main h2 {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
  color: #191970;
}

/*
//メイン
*/
.main__about_me {
  margin: 80px 0;
}

.main__about_me .main__about_me__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px 10px 20px;
}

.main__about_me .parent__about_me {
  text-align: center;
  border-top: 3px dotted #3f5170;
}

.main__about_me h2 {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #fae438));
  background: linear-gradient(transparent 60%, #fae438 60%);
  font-size: 40px;
}

.main__about_me img {
  margin: 0 100px;
}

.main__about_me p {
  margin: 0 30px 0 30px;
  font-size: 22px;
}

.main__skills {
  margin: 40px 0 80px 0;
}

.main__skills .parent__skills {
  text-align: center;
  border-top: 3px dotted #3f5170;
}

.main__skills .parent__skills h2 {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #fae438));
  background: linear-gradient(transparent 60%, #fae438 60%);
  font-size: 40px;
}

.main__skills .main__skill__list__title {
  font-size: 20px;
  text-align: center;
  margin: 10px auto;
}

.main__skills .main__skill__list__title h2 {
  padding: 5px 15px;
  margin: 0 0 10px 0;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 0px 10px #ffeddb;
          box-shadow: 0px 0px 0px 10px #ffeddb;
  border: dashed 2px white;
  background: #ffeddb;
}

.main__skill__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__skill__list .skill__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  width: 300px;
  height: 150px;
  padding: 10px 10px;
  margin: 10px 20px;
  font-size: 20px;
}

.main__skill__list .skill__item .skill__image {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.main__skill__list .skill__item .skill__body {
  text-align: left;
  display: inline-block;
}

.main__skill__list .apex_lang {
  background: #d1ffff;
  border-left: solid 10px #a3ffff;
}

.main__skill__list .visualforce_lang {
  background: #c6c6ff;
  border-left: solid 10px #a3a3ff;
}

.main__skill__list .HTML5_lang {
  background: #ffccff;
  border-left: solid 10px #ffa3ff;
}

.main__skill__list .css3_lang {
  background: #cce5ff;
  border-left: solid 10px #a3d1ff;
}

.main__skill__list .Java_lang {
  background: #ffd1d1;
  border-left: solid 10px #ff9e9e;
}

.main__skill__list .Javascript_lang {
  background: #ffffd6;
  border-left: solid 10px #ffffb2;
}

.main__skill__list img {
  width: 64px;
  height: 64px;
  margin: 0 10px 0 10px;
}

.main__skill__list .skill__body p,
.main__skill__list h3 {
  margin: 3px 8px;
}

.contact {
  margin-bottom: 40px;
  text-align: center;
}

.contact .parent__contact {
  border-top: 3px dotted #3f5170;
}

.contact h2 {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #fae438));
  background: linear-gradient(transparent 60%, #fae438 60%);
  font-size: 40px;
}

.contact p {
  font-size: 20px;
}

.contact .contact__inner__p {
  margin-top: 0;
}

/*
//フッター
*/
.footer {
  background-color: #ffc06e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1500px;
  height: 50px;
  opacity: 0.7;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer ul li {
  display: inline-block;
  padding: 0 10px;
}

.footer ul a:link,
.footer ul a:visited {
  color: #666666;
}

.footer ul a:hover {
  color: #8ea084;
  border-bottom: 3px solid #d1eac4;
  text-decoration: none;
}

/*
//メイン
*/
.work {
  margin: 40px 0 80px 0;
}

.work .parent__work {
  text-align: center;
  border-top: 3px dotted #3f5170;
}

.work .parent__work h2 {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #fae438));
  background: linear-gradient(transparent 60%, #fae438 60%);
  font-size: 40px;
}

.work .carousel__main__parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work .carousel__main__parent .carousel__main {
  width: 320px;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #f4f9ff;
  border: 1px solid #fae438;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.work .carousel__main__parent .carousel__main .active {
  -webkit-animation: fadeImg 0.8s;
          animation: fadeImg 0.8s;
}

.work .carousel__main__parent .carousel__main img {
  width: 300px;
  height: 300px;
  margin: 0;
  border: 1px solid #e8e8e8;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.work .carousel__main__parent .carousel__main p {
  margin: auto;
}

.work .carousel__main__parent .carousel__main .image__explanation {
  margin-top: 0;
}

.work .carousel__main__parent .carousel__prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: lightgray;
  margin: 0 30px;
}

.work .carousel__main__parent .carousel__prev:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.work .carousel__main__parent .carousel__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: lightgray;
  margin: 0 30px;
}

.work .carousel__main__parent .carousel__next:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.work .carousel__thumbnails__parent {
  text-align: center;
}

.work .carousel__thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
}

.work .carousel__thumbnails li {
  opacity: 0.4;
}

.work .carousel__thumbnails li:hover {
  opacity: 1;
}

.work .carousel__thumbnails li.current {
  opacity: 1;
}

.work .carousel__thumbnails img {
  width: 80px;
}

@-webkit-keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=app.css.map */